
div.map
{
	width: 90%;
	height: 300px;
	margin: auto;
}

div.center
{
	width: 80%;
	height: 1000px;
	margin: auto;
	background-color: red;
}

div.in-btn
{
	padding:10px;
}

div.userAdd
{
	padding: 30px;
	width: 550px;
	height: 450px;
	margin: auto;
}

div.InsertBoard
{
	padding: 30px;
	width: 550px;
	height: 450px;
	margin: auto;
}

